tr:hover{
    cursor: pointer;
  }
  
  .details{
    /* height: calc(100vh - 55px); */
    /* width:max-content; */
    background-color: #fefae0;
  }
  
  .duplicates{
    height: 500px;
    width: 100%;
    background-color: #f8edeb;
    overflow: scroll;
  }

  tr, td{
    border: none;
  }

  .row-border{
    border-top: 2px solid #000000;
  }